header h1 {
    font-family: 'Orbitron', sans-serif;
    border-bottom: solid 1px black; 
    margin-bottom: 1em;
}
q { quotes: "“" "”" "‘" "’"; } 
* { font-family: Sans-Serif; text-decoration: none }

section > h1 {
    border-bottom: solid 1px black;
    // text-shadow: 2px 2px 30px #0f0;
} 

#atomLink {
    max-width:  50px;
    max-height: 50px;
}

