header h1 {
    font-family: 'Orbitron', sans-serif;
    border-bottom: solid 1px black; 
    margin-bottom: 1em;
}
q { quotes: "“" "”" "‘" "’"; } 
* { font-family: Sans-Serif; text-decoration: none }

#atomLink {
    max-width:  30px;
    max-height: 30px;
}

// todo:
// * font-face broken with ff
// * keyframes doesn't work
// @font-face {
//   font-family: GlassTTYVT220;
//   src: local("Glass TTY VT220"), local("Glass TTY VT220 Medium"), url(http://olduse.net/font/Glass_TTY_VT220.ttf) format("truetype");
// }
// 
// @keyframes {
//     from,to
//         { color: transparent; }
//     50% { color: red; }
// }
// 
// .grid-80 > h1 {
//   animation: 1s blink step-end infinite;
// 
//   text-align: center;
//   font-size: 20px;
//   font-family: GlassTTYVT220;
//   background: black;
//   color: #18d818;
// }
// 
